<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>206383573645-ee7ag5la7pbnded5hsg3hu7p8cjq7bd4.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.206383573645-ee7ag5la7pbnded5hsg3hu7p8cjq7bd4</string>
	<key>API_KEY</key>
	<string>AIzaSyANUeACws8RPG80VWBFa1iT8hLmsBlOuEM</string>
	<key>GCM_SENDER_ID</key>
	<string>206383573645</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ODSH.myJobCard</string>
	<key>PROJECT_ID</key>
	<string>myjobcardcrashanalytics</string>
	<key>STORAGE_BUCKET</key>
	<string>myjobcardcrashanalytics.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:206383573645:ios:e9a286f11556eeca2590c4</string>
</dict>
</plist>