<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ServerType</key>
	<string>Cloud</string>
	<key>Environment</key>
	<string>2</string>
	<key>ServerIPAddress1</key>
	<string>mobile-pf0pc0bzs9.eu2.hana.ondemand.com</string>
	<key>ServerIPAddress2</key>
	<string>mobile-mpyi7hx6ox.eu3.hana.ondemand.com</string>
	<key>ServerIPAddress3</key>
	<string>mobile-bmfo83djnk.eu3.hana.ondemand.com</string>
	<key>ServerPort</key>
	<string>0443</string>
	<key>ApplicationId1</key>
	<string>com.ods.myJobCard</string>
	<key>ApplicationId2</key>
	<string>com.ods.myJobCard</string>
	<key>ApplicationId3</key>
	<string>com.ods.myJobCard</string>
	<key>AutoConfig</key>
	<true/>
	<key>AuthenticationType</key>
	<string>Basic</string>
	<key>ServerPop</key>
	<true/>
	<key>DemoIP</key>
	<string>mobile-mpyi7hx6ox.eu3.hana.ondemand.com</string>
	<key>DemoPort</key>
	<string>0443</string>
	<key>DemoAppID</key>
	<string>com.ods.myJobCard</string>
	<key>DumyText</key>
	<string>1-Dev,2-QA,3-Sales / PRD</string>
</dict>
</plist>
